*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: brown;
}

button{
    background-color: white;
    border-color: white;
    color: brown;
    border-inline-color: white 10px;
    font-size: 0.9rem;
}
.container{  
    text-align: center;  
    border: 7px;  
    width: 700px;  
    height: 400px;  
    padding-top: 400px;  
    }  
